a.login-with-vipps-link {
  text-decoration: none;
}

a.login-with-vipps-link:hover,
a.login-with-vipps-link:visited,
a.login-with-vipps-link:active,
a.login-with-vipps-link:link {
  color: #fff;
  text-decoration: none;
}

.vipps-button-group {
  margin-top: 2rem;
  margin-bottom: 1.5em;
}
